/* styles.css */
/* Style the video: 100% width and height to cover the entire window */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
  }

header .navigation-items a{
  position:relative;
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}
.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696E9;
}

.home:before{
  z-index:777;
  content:'';
  position:absolute;
  background:rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color:#fff;
  position:absolute;
  width: 70%;
  margin-top: 50px;
  display: none
}
.home .content.active{
  display:block;
}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  
}

.home .content h1 span{
  font-size:1.2em;
  font-weight: 600;
}
.home .content h2{
  font-size: 1em;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: white;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}
.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}
.home .media-icons a{
  color: white;
  font-size: 1.6em;
}
.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}
.home .media-icons a:hover{
  transform: scale(1.3);

}
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-navigation{
  z-index:888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(360px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn{
  background: white;
  height: 8px;
  width: 8px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(255, 255 , 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #2696E9;
}

.slider-navigation .nav-btn:not(:last-child){

  margin-right: 20px;

}
.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);

}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
@media (max-width: 1040px){
  header {
  padding: 12px 20px;
  }
  section{
  padding: 100px 20px;
  }
  .home .media-icons{
  right: 15px;
  }
}

header .navigation {
  display: none;
  }

header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(1, 1, 1, 0.5)
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
}
header .navigation .navigation-items a:before{
    background: #222;
    height: 2px;
}
header .navigation.active .navigation-items{
    background:white;
    width:600px;
    max-width:600px;
    margin:20px;
    padding:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  
.menu-btn{
  background: url(./img/588a64e0d06f6719692a2d10.png)no-repeat;
  background-size:30px;
  background-position: center;
  width: 40px;
  margin-right: -184px;
  height: 40px;
  cursor: pointer;
  transition: 00.3s ease;
}
.menu-btn.active{
    z-index: 999;
    background: url(./img/close-line.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
}

/* Transition */

/* HERE IS THE ABOUT SECTION AND DOWN */

.aboutsens .about h1{
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: -39px;
  color: black;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: -6px;
}
.aboutsens{
  background:white;
}

.aboutsens .about hr{
  width: 4.6cm;
  margin: 0 44% 0 44%;
  height: 1px;
  border-radius: 7px 7px 7px 7px;
  background: black;
}

.aboutsens .aboutpa p{
  margin-top: 3%;
  text-align: center;
  color:#818181
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-left: 350px;
  margin-top: -50px;
  z-index: 1;
}

.container .card{
position: relative;
width:280px;
height: 400px;
margin: 30px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 15px;
background: rgb(70 70 70 / 10%);
overflow:hidden;
display: flex;
justify-content: center;
align-items: center;
border-top: 1px solid rgba(255,255,255, 0.5);
border-left: 1px solid rgba(255,255,255, 0.5);
backdrop-filter:blur(5px) ;
}
.container .card .cacontent{
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .cacontent{
  transform: translateY(0px);
  opacity: 1;
}
.container .card .cacontent h3{
  position:absolute;
  top: -80px;
  font-family: 'Raleway', sans-serif;
  right: 10px;
  font-size: 8em;
  color: rgba(0, 0 ,0, 0.09);
  pointer-events: none;
}
.container .card .cacontent h1{
  font-size: 1.8em;
  font-family: 'Raleway', sans-serif;
  color: black;
  z-index: 1;
}
.container .card .cacontent p{
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  font-weight: 64px;
}


.hosting .host h1{
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: -39px;
  color: black;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: -6px;
}

.hosting .host hr{
  width: 4.0cm;
  margin: -7px 0 0 185px;
  height: 1px;
  border-radius: 7px 7px 7px 7px;
  background: black;
}

.hosting .hostpa p{
  margin-top: 3%;
  line-height: 30px;
  margin-bottom: 65px;
  text-align: center;
  color:#818181
}

/*
display: flex;
  justify-content: center;
  align-items: center;
  background: #1680AC;
  height: 70px;
  width: 200px;
  margin: 1cm 0 0 8cm;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 7px 7px 7px 7px;
  */
.hosting .hostpabut {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  align-items: center;
}
.hosting .hostpabut a{
  position:relative;
  margin: 0 auto;
  display: inline-block;
  padding: 25px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(105, 105, 105, 0.4);
  background:#ffffff;
  letter-spacing: 2px;
  font-size: 16px;
  transition: 0.5s;

}
.hosting .hostpabut a:hover{
  color: rgb(0, 0, 0);
}

.hosting .hostpabut a span{
  display: block;
  position: absolute;
  background: #2894ff;
}
.hosting .hostpabut a span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.hosting .hostpabut a:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.hosting .hostpabut a span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.hosting .hostpabut a:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}


.hosting .hostpabut a span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 1px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.hosting .hostpabut a:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}


.hosting .hostpabut a span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.hosting .hostpabut a:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}


/* Add styles here to customize the appearance of your app */